__pycache__/
**/__pycache__/
*.py[cod]
**/*.py[cod]
*.pyc.*
*$py.class

.pytest_cache/
.coverage
.coverage.*
htmlcov/

queries/
model_weights/
loss_logs/
predictions/
mlruns/
experiments/
oceantaco_data/

*.pt
*.pth
*.npz
*.npy
*.parquet

.DS_Store
